- if @posts.any?
  - @posts.each do |post|
    = image_tag post.image.url(:medium)
    %h4= post.caption
    = link_to "Edit Caption", edit_post_path(post)
- else
  No posts yet

%a(href='/posts/new') Add a post
