- if @posts.any?
  - @posts.each do |post|
    = image_tag post.image.url(:medium)
    %h4= post.caption
    = link_to "Edit Caption", edit_post_path(post)
    = link_to "Delete", post_path(post), method: :delete
- else
  No posts yet

%a(href='/posts/new') Add a post
